/*Consideraciones iniciales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
  width: 100%;
}

/*body*/

body {
  background-color: #aed1b2;
  margin: 0;
  padding: 0;
}

/*header*/

header {
    padding: 1rem;
    background-color: #aed1b2;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header h1 {
    font-size: 4rem;
}

.contenedor-boton {
  display: flex;
  align-items: center;
}

.boton-header {
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  background-color: #2a4a32;
  color: #f9f9f9;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition-duration: 0.4s;
}

.boton-header:hover {
  background-color: #aed1b2;
  color: #333;
  box-shadow: 0 0 20px 8px #2a4a32;
}

.seccion-izquierda {
  display: flex;
}

.izquierda, .derecha {
    margin: 0;
}

.izquierda {
  background-color: #2a4a32;
  border-radius: 0.5rem;
  color: #f9f9f9;
}

/*main*/

main {
    text-align: center;
    background-color: #f9f9f9;
}

/*footer*/

footer {
    text-align: center;
}

/*medias*/

@media (min-width: 768px) {
    body {
      padding: 0;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }  