/*Consideraciones iniciales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
}

/*body*/



/*header*/

header {
    padding: 1rem;
    background-color: #aed1b2;
    margin: 0;
    display: flex;
}

header h1 {
    font-size: 4rem;
}

.izquierda, .derecha {
    margin: 0;
}

/*main*/

main {
    text-align: center;
}

/*footer*/

footer {
    text-align: center;
}

/*medias*/

@media (min-width: 768px) {
    body {
      padding: 2rem;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }