@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=MedievalSharp&family=UnifrakturCook&display=swap');

.fondo {

    background-image: url("images/fondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 30px;

}

.titulo {

    font-family: 'UnifrakturCook', 'Cinzel Decorative', 'MedievalSharp', cursive;
    font-size: 40px;
    color: #3b2f2f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-bottom: 20px;

}

.subtitulo {

    font-family: 'UnifrakturCook', 'Cinzel Decorative', 'MedievalSharp', cursive;
    color: #3b2f2f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-bottom: 20px;

}

.botones {

    background-color: white;
    border: 2px solid black;
    height: 40px;
    border-radius: 4px;
    color: black;
    transition: 0.4s;

}

.botones:hover {

    background-color: black;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.imagen-home {

    height: 32px;
    width: 32px;

}

.boton-registrar:hover {

    background-color: rgb(12, 12, 101);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.boton-limpiar-filtro {

    margin-top: 35px;
    background-color: white;
    border: 2px solid black;
    height: 40px;
    border-radius: 4px;
    color: black;
    transition: 0.4s;

}

.boton-limpiar-filtro:hover {

    margin-top: 35px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.imagen-no-libro {

    width: 460px;
    height: 460px;

}

.parrafo {

    font-size: 24px;

}