body {
    background-color: #fff;
    width: 100vw;
    display: flex;
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.banner {
    background-image: url('https://static.nuso.org/media/cache/e6/68/e668c9e625b4cfb2353a2f42e7707142.jpg');
    background-size: cover;
    background-position: center 20%;
    height: 50vh;
    width: 100vw;
}

.noticias {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.noticias img {
    border: 3px solid #000;
    height: 100%;
}

.noticias p {
    width: 40%;
    font-size: 24px;
    text-align: justify;
}

.seccion {
    margin-top: 5vh;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.seccion img {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 10vh;
    cursor: pointer;
    transition: 0.5s;
}

.seccion img:hover {
    height: 15vh;
    width: 15vh;
}