body {
    background-color: #FFF1FF;
}

.texto {
    text-align: center;
    margin-top: 150px;
}

.grande {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    letter-spacing: 0.5px;
    word-spacing: 2.5px;
}

.pequeño {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22.5px;
    letter-spacing: 0.5px;
    word-spacing: 2.5px;
}

.caja {
    text-align: center;
}

input {
    border: 2px solid black;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: #E7FAFF;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 30%;
}


button {
    margin-top: 20px;
    background-color: #FFF1FF;
    padding: 32px 16px;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 24px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #E7FAFF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}