body {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flor {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #000;
    animation: pulsate 2s infinite;
}

.texto-arriba {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 25px;
    top: -60px;
}

.texto-abajo {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 25px;
    bottom: -60px;
    width: 400px
}

@keyframes pulsate {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.5);
    }
}

.medio {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle, #000, #ff5e00, #000);
    z-index: 4;
    background-size: 5px 5px;
    filter: drop-shadow(0 0 8px #682600);
}

.petalo1 {
    position: absolute;
    left: 40px;
    z-index: 3;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #ffbb00);
    filter: drop-shadow(0 0 5px #e05200);
}

.petalo1.p1 {
    transform: rotate(22.5deg);
}

.petalo1.p2 {
    transform: rotate(67.5deg);
}

.petalo1.p3 {
    transform: rotate(110.5deg);
}

.petalo.p4 {
    transform: rotate(157.5deg);
}

.petalo2 {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #fbd702);
    filter: drop-shadow(0 0 5px #e05200);
}

.petalo2.p2 {
    transform: rotate(90deg);
}

.petalo2.p3 {
    transform: rotate(45deg);
}

.petalo2.p4 {
    transform: rotate(135deg);
}

.petalo3 {
    position: absolute;
    left: 0px;
    z-index: 1;
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff5e00, #fbd702);
    filter: drop-shadow(0 0 2px #fbd702);
}

.petalo3.p1 {
    transform: rotate(22.5deg);
}

.petalo3.p2 {
    transform: rotate(67.5deg);
}

.petalo3.p3 {
    transform: rotate(110.5deg);
}

.petalo.p4 {
    transform: rotate(157.5deg);
}

.corazon {
    font-size: 10rem;
    margin-left: 80%;
    margin-top: 40%;
    animation: corazon .5s infinite alternate linear;
    cursor: pointer;
}

@keyframes corazon {
    from {
        transform: scale(.7);
    }
    to {
        transform: scale(1);
    }
}